<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE tiles-definitions PUBLIC
       "-//Apache Software Foundation//DTD Tiles Configuration 3.0//EN"
       "http://tiles.apache.org/dtds/tiles-config_3_0.dtd">
<tiles-definitions>

<definition name='layout' template="/WEB-INF/views/tiles/layout.jsp">
	<put-attribute name="header" value="/WEB-INF/views/include/header.jsp"/>
	<put-attribute name="footer" value="/WEB-INF/views/include/footer.jsp"/>
</definition>

<!-- 
employee/list.jsp, customer/detail.jsp, notice/modify.jsp
-->
<!-- <definition name="member/login" 
				template="/WEB-INF/views/tiles/default.jsp">
	<put-attribute name="content" value="/WEB-INF/views/member/login.jsp"/>
</definition> -->

<definition name="map/data" 
				template="/WEB-INF/views/tiles/default.jsp">
	<put-attribute name="content" value="/WEB-INF/views/map/data.jsp"/>
</definition>


<definition name="*/*" extends="layout">
	<put-attribute name="content" value="/WEB-INF/views/{1}/{2}.jsp"/>
</definition>


<definition name="*" extends="layout">
	<put-attribute name="content" value="/WEB-INF/views/{1}.jsp"/>
</definition>


<!-- 에러 페이지에서는 tiles 를 사용하지 않기 위해 : header, footer 를 표현하지 않기 위해 -->
<!-- <definition name="error/*" template="/WEB-INF/views/tiles/default.jsp">
	<put-attribute name="content" value="/WEB-INF/views/error/{1}.jsp" />
</definition> -->


<!-- 에러 페이지에서는 tiles 를 사용하지 않기 위해 : header, footer 를 표현하지 않기 위해 -->
<definition name="error/404" template="/WEB-INF/views/tiles/default.jsp">
	<put-attribute name="content" value="/WEB-INF/views/error/404.jsp" />
</definition>


<!-- 에러 페이지에서는 tiles 를 사용하지 않기 위해 : header, footer 를 표현하지 않기 위해 -->
<definition name="error/common" template="/WEB-INF/views/tiles/default.jsp">
	<put-attribute name="content" value="/WEB-INF/views/error/common.jsp" />
</definition>



</tiles-definitions>



