<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="customer.mapper">

<select id="list" resultType="member.MemberVO">
	select * 
	from member
	where admin != 'Y'
	order by admin desc
</select>



<delete id="delete">
	delete 
	from member 
	where id = #{id}
</delete>

<select id="admin" resultType="customer.AdminVO">
	select distinct admin
	from member
	where admin != 'Y'
</select>


<select id="admin_list" resultType="member.MemberVO">
	select * 
	from member
	where admin = #{admin}
	order by name 
</select>






</mapper>